# Database
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=cat4u

# URL base dell'applicazione (con lo slash finale)
APP_URL=http://localhost/cat4u/



# Configurazione invio email (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=tls
MAIL_FROM=
MAIL_FROM_NAME=Cat4U