.env# Sicurezza e Credenziali
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Se usi una cartella per i log, blocca anche quella
/logs/*.log
/logs/*.php

# Blocca la cartella delle dipendenze di Composer
vendor/